@model ResultDTO<BrandDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-md-12 mb-3">
        <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-outline-success">Yeni Marka Ekle</button>
    </div>
    @if (Model.Status == true)
    {
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Markalar</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Güncelleme Tarihi</th>
                                    <th>Güncelle</th>
                                    <th>Pasif Yap</th>
                                </tr>
                            </thead>
                            <tbody id="TableBody">
                                @foreach (var item in Model.DataList.OrderByDescending(x => x.CreateDate))
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@(item.UpdateDate==null?item.CreateDate:item.UpdateDate)</td>
                                        <td><button class="btn btn-outline-warning" onclick="GetBrandUpdateData(@item.Id)">Güncelle</button></td>
                                        <td><button class="btn @(item.Status==true?"btn-outline-success":"btn-outline-danger")" id="BrandStatu_@item.Id" onclick="BrandStatusChange(@item.Id)">@(item.Status==true?"Pasif Yap":"Aktif Yap")</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <p>Gösterilecek Marka Bulunamadı</p>
        </div>
    }
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Marka Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="BrandForm">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <input type="text" class="form-control" placeholder="Marka Adı" name="Name" id="BranName" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <button type="button" onclick="AddBrand()" class="btn btn-outline-secondary">Ekle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="UpdateBrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Marka Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="BrandUpdate">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <input type="text" class="form-control" placeholder="Marka Adı" name="Name" id="BranNameUpdate" />
                            <input type="hidden" id="UpdateId" name="Id" value="" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <button type="button" onclick="UpdateBrand()" class="btn btn-outline-secondary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


